<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Block反向传值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDFAE2331CA98C53001EE2C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDFAE24C1CA98C53001EE2C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDFAE2571CA98C53001EE2C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
